<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-xs-4">
			<div class="row">
				<form class="form-inline">
					<div class="form-group">
						<label for="stockSymbol">Try Stock Name or Symbol ("Apple" or "AAPL")</label>
						<input (input)="term$.next($event.target.value)" class="form-control" id="stockSymbol" name="stockSymbol" value={{symbol}}>
						<ul class="list-group" [hidden]="items == null || items.length < 1" id="stockList">
							<li class="list-group-item" *ngFor="let item of items"><a (click)="quote(item.Symbol);getChartData(item.Symbol);">{{item.Name}} ({{item.Exchange}})</a></li>
						</ul>
					</div>
				</form>
			</div>
		</div>
		<div class="col-md-8 col-xs-8">
			<div class="well well-lg" *ngIf="stockQuote != null || stockQuote != undefined">
				<h3>{{stockQuote.Name}} ({{stockQuote.Symbol}})</h3>
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr class="active">
								<th>Last Price</th>
								<th>Change</th>
								<th>Change Percent</th>
								<th>Change Percent YTD</th>
								<th>Last Traded</th>
								<th>High</th>
								<th>Low</th>
								<th>Open</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{stockQuote.LastPrice | currency:'USD':true:'1.2-2'}}</td>
								<td>{{stockQuote.Change | currency:'USD':true:'1.2-2'}}</td>
								<td>{{stockQuote.ChangePercent | number : '1.2-2'}}%</td>
								<td>{{stockQuote.ChangePercentYTD |number : '1.2-2'}}%</td>
								<td>{{stockQuote.Timestamp }}</td>
								<td>{{stockQuote.High | currency:'USD':true:'1.2-2'}}</td>
								<td>{{stockQuote.Low | currency:'USD':true:'1.2-2'}}</td>
								<td>{{stockQuote.Open | currency:'USD':true:'1.2-2'}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<span class="help-block pull-right">*All prices in USD</span>
			</div>
			<div class="well well-lg" *ngIf="(chartattributes != null || chartattributes != undefined) && chartattributes.datasets != null && chartattributes.datasets.length > 0">
				<h3>({{stockQuote.Symbol}}) 12 months performance</h3>
				<div class="row">
					<div class="col-md-6">
						<div style="display: block;">
							<canvas baseChart width="500" height="300" [datasets]="chartattributes.datasets" [labels]="chartattributes.labels" [options]="chartattributes.options"
								[colors]="chartattributes.colors" [legend]="chartattributes.legend" [chartType]="chartattributes.chartType" (chartHover)="chartHovered($event)"
								(chartClick)="chartClicked($event)">
							</canvas>
						</div>
					</div>
					<div class="col-md-6">
						<div class="table-responsive">
							<table class="table table-condensed">
								<tbody>
									<tr>
										<th>Minimum - ({{getDate(chartData.Elements[0].DataSeries.close.minDate)}})</th>
										<td>${{chartData.Elements[0].DataSeries.close.min}}</td>
									</tr>
									<tr>
										<th>Maximum - ({{getDate(chartData.Elements[0].DataSeries.close.maxDate)}})</th>
										<td>${{chartData.Elements[0].DataSeries.close.max}}</td>
									</tr>
									<tr *ngIf="stockQuote != null || stockQuote != undefined">
										<th>Market Cap</th>
										<td>{{stockQuote.MarketCap | currency:'USD':true:'1.2-2'}}</td>
									</tr>
									<tr *ngIf="stockQuote != null || stockQuote != undefined">
										<th>Volume</th>
										<td>{{stockQuote.Volume | currency:'USD':true:'1.2-2'}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>