<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-xs-6">
      <div class="page-header">
        <h3>New User Registration</h3>
        <div class="alert alert-danger" role="alert" [hidden]="invalidEmail == false">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          Email address is already registered before
        </div>        
      </div>
      <div class="jumbotron">
        <form [formGroup]="registration" (ngSubmit)="onSubmit(registration.value)" novalidate>
          <div class="form-group form-group-lg">
            <label for="userName">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Jane Doe" name="name" required [formControl]="registration.controls['name']"
              (blur)="onBlur($event);">
            <div class='alert alert-danger' *ngIf="registration.controls['name'].touched" [hidden]="registration.controls['name'].valid">
              <div *ngIf="registration.controls['name'].hasError('required')">Name is required</div>
              <div *ngIf="registration.controls['name'].hasError('invalid')">Name is not valid</div>
            </div>
          </div>
          <div class="form-group form-group-lg">
            <label for="userEmail">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Email" name="email" required [formControl]="registration.controls['email']">
            <div class='alert alert-danger' *ngIf="registration.controls['email'].touched" [hidden]="registration.controls['email'].valid">
              <div *ngIf="registration.controls['email'].hasError('required')">Email is required</div>
              <div *ngIf="registration.controls['email'].hasError('invalid')">Email is not valid</div>
            </div>
          </div>
          <div class="radio-inline">
            <label>
              <input type="radio" name="gender" id="gender" value="Male" checked [formControl] = "registration.controls['gender']">
              Male
            </label>
          </div>
          <div class="radio-inline">
            <label>
              <input type="radio" name="gender" id="gender" value="Female" [formControl] = "registration.controls['gender']">
              Female
            </label>
          </div>
          <div class="form-group form-group-lg">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password" required [formControl]="registration.controls['password']">
            <div class='alert alert-danger' *ngIf="registration.controls['password'].touched" [hidden]="registration.controls['password'].valid">
              <div *ngIf="registration.controls['password'].hasError('required')">Password is required</div>
              <div *ngIf="registration.controls['password'].hasError('invalid')">Password must have 8 characters</div>
            </div>
          </div>
          <div class="form-group form-group-lg">
            <label for="confirmpassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password" name="confirmpassword" required [formControl]="registration.controls['confirmpassword']">
            <div class='alert alert-danger' *ngIf="registration.controls['confirmpassword'].touched" [hidden]="registration.controls['confirmpassword'].valid">
              <div *ngIf="registration.controls['confirmpassword'].hasError('required')">Confirm Password is required</div>
            </div>
            <div class='alert alert-danger' *ngIf="registration.controls['confirmpassword'].touched && registration.hasError('invalid')">
              Password's dont match
            </div>
          </div>          
          <p></p>
          <button type="submit" class="btn btn-primary btn-lg" [disabled]="!registration.valid">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-md-6 col-xs-6">
    <span>&nbsp;</span>
    </div>
  </div>